In [1]:
#This Script will pull tags for reason of closed lead as well as the date it happened

In [2]:
#Dependecies 
import pandas as pd
import numpy as np
import sys

In [4]:
#Load File
CloseTag= "../raw_data/UTNewTagIDTest.csv"

output = "../output_files/"

In [7]:
#open and read with
CloseTag_pd= pd.read_csv(CloseTag, encoding = "ISO-8859-1")
CloseTag_pd.head()

,cga Contact Id,Contact Id,Contact Group Id,cga Group Id,Tag,Date Applied,Contact First Name,Contact Last Name
0,56,56,103,103,New Lead,9/23/16,Colelita,Jones
1,56,56,119,119,Attempted Contact,9/23/16,Colelita,Jones
2,56,56,131,131,Home Top,1/22/16,Colelita,Jones
3,56,56,141,141,Pending Enrollment,9/23/16,Colelita,Jones
4,56,56,153,153,Too Expensive,10/15/16,Colelita,Jones

In [9]:
CloseTagValue = CloseTag_pd.loc[CloseTag_pd['Tag'].isin(["Out of Area",
                                                                     "Failed Coding Test", 
                                                                     "Not Qualified",
                                                                     "Invalid Phone Number and BounceBack Email",
                                                                     "Test Lead",
                                                                     "test tag",
                                                                     "TEST TAG",
                                                                     "testing"
                                                                     "Looking for Student Visa",
                                                                     'Non-Responsive',
                                                                     "Future Interest",
                                                                     "future"
                                                                     "Not Enough Time",
                                                                     "Test Lead",
                                                                     "Cannot Do Class Times",
                                                                     "Cannot do class times",
                                                                     "Student Declined",
                                                                     "Chose Another Bootcamp",
                                                                     "Too Expensive",
                                                                     "no longer interested / price",
                                                                     "Loan Declined"
                                                                     "Not Interested in Coding",
                                                                     "Application Declined",
                                                                     "No Payment Plans Available",
                                                                     "Program Too Long",
                                                                     "No Instructor in place yet",
                                                                     "Doesn't want to apply for loan",
                                                                     "Current Student"
                                                                    ])]
CloseTagValue.head()

,cga Contact Id,Contact Id,Contact Group Id,cga Group Id,Tag,Date Applied,Contact First Name,Contact Last Name
4,56,56,153,153,Too Expensive,10/15/16,Colelita,Jones
7,56,56,219,219,Failed Coding Test,9/23/16,Colelita,Jones
28,71,71,133,133,Future Interest,2/12/16,Stan,Ellis
85,91,91,213,213,Non-Responsive,4/29/16,Victoria,Holland
115,101,101,159,159,Chose Another Bootcamp,4/7/16,Cameron,Mott

In [11]:
#Filter for only what we need in the tag file
CloseTagFiltered= CloseTagValue.filter(["Contact Id", "Tag", "Date Applied"])
CloseTagFiltered.head()

     Contact Id                     Tag Date Applied
4            56           Too Expensive     10/15/16
7            56      Failed Coding Test      9/23/16
28           71         Future Interest      2/12/16
85           91          Non-Responsive      4/29/16
115         101  Chose Another Bootcamp       4/7/16

In [12]:
#Merge rwo multiple dates applied
TagRowMerge = CloseTagFiltered.groupby("Contact Id").agg(lambda x:','.join(x))
TagRowMerge.head()

                                         Tag      Date Applied
Contact Id
56          Too Expensive,Failed Coding Test  10/15/16,9/23/16
71                           Future Interest           2/12/16
91                            Non-Responsive           4/29/16
101                   Chose Another Bootcamp            4/7/16
107                           Non-Responsive            5/4/16

In [14]:
#Send out for manual clean (Rename count Id to Account ID) don't rename yet
TagRowMerge.to_csv(output + "DateReasonCloseUncleaned.csv")

In [16]:
#Bring Back in after clean to check
ClosedTagCleaned = pd.read_csv(output + "DateReasonCloseCleaned.csv" )
ClosedTagCleaned.head()

   Account ID                               Tag      Date Applied
0          56  Too Expensive,Failed Coding Test  10/15/16,9/23/16
1          71                   Future Interest         2/12/2016
2          91                    Non-Responsive         4/29/2016
3         101            Chose Another Bootcamp          4/7/2016
4         107                    Non-Responsive          5/4/2016